/* 
colors ?  
--fire-engine-red: #d21511ff;
--caput-mortuum: #561d1cff; BE0000
--black: #000000ff;
--black-2: #030303ff;
--red-cmyk: #dd231eff; */

* {
	box-sizing: border-box;
	font-family: "Nunito Sans", sans-serif;

	scroll-behavior: smooth;
}

#root {
	width: 100vw;
	height: 100svh;

	overflow-x: hidden;

	/* background-color: white; */

	font-family: "Nunito Sans", sans-serif;
	line-height: 1.5;
}

li,
span,
h1,
h2,
h4,
p {
	color: white;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

li,
span {
	font-size: 1.25rem;
	font-weight: 800;
}

span {
	text-shadow: none;
}

h1 {
	font-size: clamp(2rem, 1.171rem + 4.42vw, 4rem);
	font-weight: 900;
}
h2 {
	font-size: clamp(1.5rem, 0.878rem + 3.31vw, 3rem);
	font-weight: 700;
}

h3 {
	color: black;
	font-size: 2.5rem;
	font-weight: 700;

	text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

h4 {
	font-size: 1.5rem;
	font-weight: 700;
}

p {
	font-size: 1.25rem;
	font-weight: 600;
}

a {
	text-decoration: none;
}
